*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Segoe UI semibold;
  src: url(/fonts/seguisb.ttf);
}

@font-face {
  font-family: Segoe UI regular;
  src: url(/fonts/segoeui.ttf);
}

@font-face {
  font-family: Segoe UI light;
  src: url(/fonts/segoeuil.ttf);
}

body{
  font-family: sans-serif;
}

html{
  scroll-behavior: smooth;
}
#main-page{
 height: 100vh;
  max-width: 100%;
  background-image:url(/images/mainback.png);
  background-repeat: no-repeat;
  background-size: contain;
  
}
header{
  height: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  transition: top 0.3s;
}

header.active { 
  background-color:#c7f4ff;
}

.container{
  width: 100%;
  display: flex;
  padding-top: 20px;
  padding-left: 139px;
  padding-right: 139px;
  justify-content: space-between;
}

.topnav{
  font-family: 'Segoe UI regular', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-top: 20px;
  
}

.topnav a{
  text-decoration: none;
  padding: 4px 40px;
  color: rgb(0, 0, 0);
}

.topnav a:hover{
  color:  #00ccff;
}

/* .topnav .icon {
  display: none;
} */



#button_apps{
   margin-left: 40px;
   padding-top: 7px;
   padding-bottom: 7px;
   padding-left: 25px;
   padding-right: 25px;
   background: linear-gradient(45deg,#640cff,#fb0900, #ffcd07);
   color: white;
   border-radius: 10px;
   width: fit-content;
   height: fit-content;
   
}

#button_apps:hover{
  opacity: 0.7;
}

#active_page{
   color:#00ccff;
}

section .container-main{
     flex-wrap: wrap;
     display: flex;
     justify-content: center;
     align-items: center;
}


.logo img{
  width:189.6px;
   height:69px;
}

#hero{
  margin-left: 139px;
  margin-right: 139px;
}
.info{
flex: 50%;
  height: 80vh;
}

.info h1{
 font-family: 'Segoe UI semibold', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 74px;
 align-items: center;
 margin-top: 210px;
}

.info p{
  font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 31px;
  color: black;
  line-height: 37px;
  margin-top: 28px ;
}

#play-btn{
  margin-top: 69.7px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  
  }

#learn{
  border-radius: 4px;
  border: 2px solid #7017eb;
  color: black;
  width: 165.34px;
  height: 47.01px;
  margin-left: 36px;
  font-family: 'Segoe UI semibold', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

#learn:hover{
  opacity: 0.7;
  color: #00ccff;
  cursor:pointer;
}

#play{
  border-radius: 4px;
  background-image: url(/images/playimg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 165.34px;
  height: 47.01px;
}
#play:hover{
cursor:pointer;
}

.illustration{
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 130px;
}
/*************** We build section ******************/
#build-page{
background-image:url(/images/webuildback.svg);
background-repeat: no-repeat;
background-size: contain;
height: auto;
max-width: 100%;

}
#we_build{
height: 100vh;
margin-left: 139px;
margin-right: 139px;

}

.we-container{
display: flex;
justify-content: flex-end;
align-items: center;
height: 100vh;
width: 100%;

}

.content_wedo h1{
font-size: 63px;
font-family: 'Segoe UI semibold', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(0, 0, 0);
}

.content_wedo p{
margin-top: 62.6px;
font-size: 31px;
font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif;
line-height: 45px;
}

.content_wedo button{
width: 333.75px;
height: 68.87px;
margin-top: 63px;
border-radius: 10px;
border: none;
background-color: #640cff;
font-size: 31px;
color: white;
font-family: 'Segoe UI semibold', Tahoma, Geneva, Verdana, sans-serif;
}

.content_wedo a{
margin-left: 75.5px;
font-size: 31px;
font-family: 'Segoe UI semibold', Tahoma, Geneva, Verdana, sans-serif;
text-decoration: none;
}

#quote-btn:hover {
background-color: #8742ff;
cursor: pointer;
}

#our-work{
color: #6107ff;
}

#our-work:hover{
color: #00ccff;
}


/***************************Our apps************************/

#our_apps{
margin-top: 100px;
margin-left: 139px;
margin-right: 139px;

}

.container-apps{
display: flex;
flex-direction: column;
justify-content:center;
align-items: center;

}
.ourApps-content{
display: flex;
align-items: center;
width: 100%;
height: 50vh;
}

.content{
width: 50%;
height: 50vh;

}

.content h1{
font-size: 63px;
font-family: 'Segoe UI semibold', Tahoma, Geneva, Verdana, sans-serif;
}

.content p{
font-size: 31px;
font-family: 'Segoe UI regular', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 38px;
letter-spacing: 1px;
line-height: 50px;

}

.content h2{
font-size: 43px;
font-family: 'Segoe UI semibold', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 46px;
}

#appIcon{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 100px;
}

#feature-container{
width: 100%;
height: 50vh;
display: flex;
flex-direction: column;
}
#feature-id{
width: 100%;
height: fit-content;
display: flex;
justify-content:center;
align-items: center;
}

#feature-id h2{
font-size: 43px;
font-family: 'Segoe UI semibold', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}

.features{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 50px;
width: 100%;

}

.card {
/* Add shadows to create the "card" effect */
/* box-shadow: 0 4px 8px 0 #bbeaff;
transition: 0.3s; */
width: 358px;
height: 344px;
border-radius: 30px;
text-align: center;

}

.card h4 {
font-size: 33px;
font-family: 'Segoe UI semibold', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 98px;
color: #5d00ff;
}
.card p{
margin-top: 18px;
font-size: 31px;
letter-spacing: 3px;
font-family: 'Segoe UI light', Tahoma, Geneva, Verdana, sans-serif;
}

/* On mouse-over, add a deeper shadow */
/* .card:hover {
/* box-shadow: 0 8px 16px 0 #cdb0ff; 
} */



/*****************Contact us***************/
#contact-page{
width: 100%;
height: 100vh;
background-image:url(/images/contactback.svg);
background-repeat: no-repeat;
background-size:cover;
}
#contact_us{
margin-top: 100px;
margin-left: 139px;
margin-right: 139px;
height: 100vh;
}

.contact{
display: flex;
align-items: center;
width: 100%;
height: 90vh;
}

.text-content{
width: 50%;
height: 100vh;
display: flex;
align-items: center;
justify-content: flex-end;
padding-bottom: 170px;
flex-direction: column;
}

.text-content h2{
font-size: 52px;
font-family: 'Segoe UI regular', Tahoma, Geneva, Verdana, sans-serif;

}

.text-content p{
font-size: 36px;
font-family: 'Segoe UI regular', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 13px;
letter-spacing: 2px;
color: #ca0a52;
}

.contact_form{

width: 50%;
height: 100vh;

}

.contact_form2{
display: flex;
flex-direction: column;

}

.contact_form h1{
margin-top: 67.5px;
font-size: 63px;
font-family: 'Segoe UI semibold', Tahoma, Geneva, Verdana, sans-serif;
}

.contact_form form{
margin-top: 80.3px;
}

label{
font-size: 36px;
font-family: 'Segoe UI regular', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 17.7px;
line-height: 48px;
}

input[type=text], select, textarea {
width: 100%;
padding: 12px 20px;
border: 1px solid rgb(148, 148, 148);
outline: none;
border-radius: 10px;
box-sizing: border-box;
margin-top: 22.3px;
margin-bottom: 16px;
resize: vertical;
height: 50px;
font-size: 20px;
font-family: 'Segoe UI regular', Tahoma, Geneva, Verdana, sans-serif;
}


input[type=text]:focus {
border: 2px solid #00ccff;
}
#subject:focus {
border: 2px solid #00ccff;
}

#subject{
  height:186.07px;
}

input[type=submit] {
background-color: #5d00ff;
margin-top: 67.6px;
color: white;
padding: 12px 20px;
border: none;
border-radius: 10px;
cursor: pointer;
height: 73.82px;
width: 344.85px;
font-size: 36px;
font-family: 'Segoe UI regular', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=submit]:hover {
background-color: #8742ff;
}

/*******************Footer section*******************/

#footer{
height: 695.17px;
background-color:#08042f;
}

.footer-container{
display: flex;
justify-content: center;
align-items: center;
}

.footer-item{
display: inline;
width: 33.3%;
height: 695.17px;
}
.footer-item1{
display: flex;
flex-direction: column;
align-items: flex-start;
margin-top: 79.2px;
padding-left: 139px;

}
.footer-item1 a{
text-decoration: none;
font-size: 24px;
margin-top: 30px;
color: white;
font-family: 'Segoe UI regular', Tahoma, Geneva, Verdana, sans-serif;
}

#apps-button{
padding-top: 7px;
padding-bottom: 7px;
padding-left: 25px;
padding-right: 25px;
background: linear-gradient(45deg,#640cff,#fb0900, #ffcd07);
color: white;
border-radius: 10px;
}

#footer1 p{
padding-top: 129.6px;
padding-left: 139px;
font-size: 20px;
color: white;
font-family: 'Segoe UI regular', Tahoma, Geneva, Verdana, sans-serif;
}

#footer-item2{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
margin-top: 79.2px;

}

#social-media-links p{
color: white;
font-size: 24px;
font-family: 'Segoe UI regular', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 79.2px;
margin-left: 40%;

}

#social-media-links img{
width: 134.75px;
height: 49.79px;
margin-top: 230px;
margin-left: 250px;
align-content: center;
}

.footer-item img:hover{
  cursor: pointer;
}


.footer-item2{
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
}

.footer-item2 a{
text-decoration: none;
width: 52.91px;
height: 52.91px;
margin-left: 28.4px;
text-align: center;
font-size: 30px;
padding-top: 10px;
}

.footer-item3{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding-top: 102.3px;
margin-left: 40%;
}

.footer-item3 a{
text-decoration: none;
font-size: 24px;
margin-top: 30px;
color: white;
font-family: 'Segoe UI regular', Tahoma, Geneva, Verdana, sans-serif;
}

#privacypolicy  img{
  margin-left: 40%;
  margin-top: 30px;
}

.footer-item a:hover{
  color: #00ccff;
}

#apps-button:hover{
opacity: 0.7;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
border-radius: 10px;

}

.fa-twitter {
background: #55ACEE;
color: white;
border-radius: 10px;
}

.fa-instagram {
background: #125688;
color: white;
border-radius: 10px;
}

.fa-linkedin {
background: #007bb5;
color: white;
border-radius: 10px;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 102px;
}






